body,
html {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Roboto, arial, sans-serif;
	color: #222;
}
* {
	font-size: 14px;
}

body {
	height: 100%;
}

a {
	text-decoration: none;
	color: #222;
}

.body-container {
	display: flex;
	flex-direction: column;
}

.header-container {
	display: flex;
	align-items: center;
	height: 60px;
	padding: 6px;
	flex-shrink: 0;
}

.links-left:first-of-type {
	margin-left: 15px;
}

.links-left a {
	padding: 5px;
	margin: 0 5px;
}

.links-left {
	flex-grow: 1;
}

.links-right a {
	margin-right: 15px;
}

.apps-button {
	width: 32px;
	height: 32px;
	background-color: transparent;
	background-image: url(//ssl.gstatic.com/gb/images/i1_1967ca6a.png);
	background-position: -131px -37px;
	opacity: 0.6;
	border: none;
	padding: 0 8px;
}

.profile-picture {
	height: 32px;
	width: 32px;
	border-radius: 50%;
	margin-right: 8px;
}
